.idea/
.settings/
.sign/
.vagrant/
build/
node_modules/

**/*.p12
**/*.crt
**/*.csr
**/*.pem
**/*.pem.pub

MoonWatch.iml
MoonWatch.wgt

!certificates/ca/gear_test_author_CA.cer
!certificates/ca/samsung_tizen_dev_public2.crt
