<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://yourdomain/$NAME"
        version="$VERSION"
        viewmodes="maximized">
    <tizen:application id="$PACKAGE.$NAME"
                       package="$PACKAGE"
                       required_version="2.3.2" />
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.shape.circle"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>$NAME</name>
    <tizen:profile name="wearable"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
</widget>
